extends layout

block content
  div.container
    div.span10.postTopic
      form.formhorizontal(method="post")
        fieldset
          legend
            a(href="/") 主页
            span /发布话题
          div.container
            div.control-group
              span.topic
                select.tag(name='type')
                  option(value="") 请选择
                  option(value="que") 问答
                  option(value="tech") 教程

                input(type="text" id="title" name="title" placeholder="输入标题")
              textarea(rows=20 id="content" data-provide="markdown" name="content" placeholder="支持Markdown语法...")
              hr.soften
              button.btn.btn-large(type="submit" id="submit") SUBMIT
    div.span2.sidebar